.CardC-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: normal 35px;
    border-radius: 30px;
    width: 1088px;
    height: 500px;
    text-align: left;
    margin: 64px 127px;
    justify-content: space-between;

}
.left-cardC-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    flex-basis: 50%;
    background: #ff6f00;
   width: 525px;
   height: 485px;
 
}
.left-cardC-content{
   padding: 30px 0;
   text-align: center;
   line-height: 24px;
   margin-top: -50px;
}
.right-cardC-container{
    display: flex;
    align-items: center;
    justify-content: center;
   background: #292929;
   width: 525px;
   height: 485px;
   border-radius: 32px;
}
.cardC-text{
    font-size: 48px;
    color: #fff;
    text-align: left;
    /* margin-top:-20px ;
    margin-top: 50px; */
    line-height: 48px;
    width: 397px;
    height: 192px;
}
p.cardc-description{
    font-size: 18px;
    text-align: left;
    width: 397px;
    height: 104px;
    margin-top: -25px;
    color: #fff;
}

.cardC-get-Started img{
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
  margin-top: 3.5px;
}

  .cardC-get-Started{
    display: flex;
    gap: 11px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-top: 60px;
    justify-content: flex-start;
  }

  span{
    color: #fff;
    display: flex;
    gap: 11px;
   
  }