.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin-top: -200px;
  margin-bottom: 70px;
  padding: 35px 16px 35px 0;
  text-align: start;
}

.marquee {
  display: flex;
  gap: 25px;
  animation: marquee-scroll 35s linear infinite;
}

.marquee-image {
  width: auto;
  height: auto;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}




/* .marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .marquee {
    display: flex;
    animation: marquee-scroll 15s linear infinite;
    width: calc(100% * 2); 
  }
  
  .marquee-image {
    width: 200px; 
    height: 150px; 
    margin-right: 20px;
  }
  
  @keyframes marquee-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  } */


